{% extends "reset_pass_base.html" %} {% load widget_tweaks %}
{% block body %}
<!-- New Password -->
  <div class="col-span-full p-4">
    <label class="block mb-2 mt-6 py-2 text-lg font-semibold text-gray-900">
      New Password
    </label>
    {{ form.new_password1|add_class:"block w-full px-4 py-3 text-gray-900 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" }}
    {% if form.new_password1.errors %}
      <p class="mt-2 text-red-500 text-sm">{{ form.new_password1.errors }}</p>
    {% endif %} 
    {% if form.new_password1.help_text %}
      <p class="mt-2 text-gray-600 text-xs">
        {{ form.new_password1.help_text|safe }}
      </p>
    {% endif %}
  </div>

  <!-- Confirm New Password -->
  <div class="col-span-full p-4">
    <label class="block mb-2 mt-6 py-2 text-lg font-semibold text-gray-900">
      Confirm New Password
    </label>
    {{ form.new_password2|add_class:"block w-full mb-4 px-4 py-3 text-gray-900 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" }}
    {% if form.new_password2.errors %}
      <p class="mt-2 text-red-500 text-sm">{{ form.new_password2.errors }}</p>
    {% endif %}
  </div>
{% endblock body %}
