{% extends "reset_pass_base.html" %} 
{% load static %}

{% block body %}
            <div class="ml-2 mt-4 lg:ml-[-20px] lg:mt-10 space-y-6">
              <div class="col-span-full">
                <label class="block mb-3 text-sm font-medium text-gray-600">
                  Email
                </label>
                <input
                  name="email"
                  type="email"
                  placeholder="Email"
                  class="block w-[400px] px-6 py-3 text-black bg-white border border-gray-200 rounded-full appearance-none placeholder:text-gray-400 focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"
                />
              </div>
{% endblock body%}


