{% extends "reset_pass_base.html" %}
{% block heading %}Check Your Email{% endblock heading %}

{% block body %}
<p class="mt-6 text-center text-gray-600">
If an account exists with that email, you’ll get a password reset link shortly. If you don’t see this email, check your spam folder and mark it as Not Spam.
</p>
{% endblock body %}
{% block submit_button %}{% endblock submit_button %}
{%block bodyend%}
    <div class="col-span-full">
      <button type="submit" formaction="/student_login/" class="items-center mt-5 justify-center px-6 py-2.5 text-center text-white duration-200 bg-black border-2 border-black rounded-full nline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none focus-visible:outline-black text-sm focus-visible:ring-black">
                      Login page?
        </button>
    </div>
{% endblock bodyend%}